<toast-message-component [alerts]="messageList"></toast-message-component>
  <div class="container">
    <div class="card mx-auto" style="margin-top:130px;width: 400px;">
      <div class="card-body">
          <div class="mx-auto" style="width: 150px;">
              <img src="./../../assets/img/Bakery.PNG" style="width: 150px; height: 40px;">
          </div>
          <br/>
          <form #f="ngForm" ngForm (ngSubmit)="f.form.valid && recievePassword(f)" novalidate>
            <div class="form-group">
              <input id="email" name="email" ngModel #email="ngModel" type="email" 
              class="form-control" placeholder="registered email" required email>
              <div *ngIf="email.touched && email.invalid">
                <div *ngIf="email.errors.required"><span class="validation-error-msg">Email is required</span></div>
                <div *ngIf="email.errors.email"><span class="validation-error-msg">Invalid email</span></div>
              </div>
            </div>
            <button class="btn btn-block" [disabled]="!f.valid">Recieve new password</button>
          </form>
          <br/>
          <div class="row">
            <div class="col-sm-12">
                <small><p class="text-center">new password will be sent to you via email.</p></small>
            </div>
          </div>
      </div>
    </div>
  </div>
