
@media screen and (max-width:568px) {
    .card {
        max-width: 350px;
    }
}

.btn {
    background-color: #d5a249;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
}
    .btn:active {
        background-color: #d5a249;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.control-label{
    font-size: 14px;
    letter-spacing:1px;
    color: black;
}

.form-control.ng-touched.ng-invalid{
    border: 1px solid red;
}

.form-control.ng-valid{
    border: 1px solid green;
}

.is-invalid{
    border: 1px solid red;
}
.is-valid{
    border: 1px solid green;
}

.validation-error-msg{
    color: red;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}