<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="menu">
          <span>Menu</span>
          <li>
            <a href="#">Cakes</a>
          </li>

          <li>
            <a href="#">Cupcakes</a>
          </li>

          <li>
            <a href="#">Pies</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="menu">
          <span>Quick Links</span>
          <li>
            <a href="#">About Us</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="address">
          <span>Contact Details</span>
          <li>
            <a href="#">Email: Baked@gmail.com</a>
          </li>
          <li>
            <a href="#">Mobile: 9821056734</a>
          </li>
          <li>
            <a href="#">Address: Mumbai</a>
          </li>
        </ul>
      </div>
    </div>
    <hr style="background-color: white;" />
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12">
        <h4 class="copyright text-center"><span><i class="fa fa-copyright"></i></span>Copyright for BAKED 2018. All
          Rights Reserved.</h4>
      </div>
    </div>
  </div>
</footer>
<a href="#" id="scrollToTopButton" role="button" class="btn scrollToTopButton"><span><i
  class="fa fa-arrow-up"></i></span></a>
