
.mobile-header {
    position: relative;
    display: none;
}

@media screen and (max-width:768px) {
    .card {
        max-width: 350px;
    }

    .mobile-header-container {
        height: 70px;
        display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #d5a249;
    height: var(--header-height);
    width: 100%;
    z-index: var(--header-z-index);
    padding: var(--s-spacing) var(--m-spacing);
    }
}

.btn {
    background-color: #d5a249;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
}
    .btn:active {
        background-color: #d5a249;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.control-label{
    font-size: 14px;
    letter-spacing:1px;
    color: black;
}

.form-control.ng-touched.ng-invalid{
    border: 1px solid red;
}

.form-control.ng-valid{
    border: 1px solid green;
}

.is-invalid{
    border: 1px solid red;
}
.is-valid{
    border: 1px solid green;
}

.validation-error-msg{
    color: red;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

@media screen and (max-width:568px) {
    .mobile-header {
        display: block;
        height: 45px;
    }

    .mobile-header-container {
        height: 55px;
        display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2c4152;
    width: 100%;
    }

    .mobile-header-content-container {
        display: block;
            position: fixed;
        margin: 10px;
            width: 100%;
    }

    .mobile-header-container .mobile-header-content-container .mobile-header-content {
        display: flex;
        -webkit-box-align: center;
        align-content: center;
    }

    .mobile-header-container .mobile-header-content-container .mobile-header-content .mobile-back-button {
        width: 45px;
    height: 35px;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    color: white;
    position: relative;
    font-size: 20px;
    }

    .mobile-header-container .mobile-header-content-container .mobile-header-content .mobile-header-title-container{
        position: relative;
        height: 35px;
    display: flex;
        color: white;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    max-width: 220px;
    }

    .mobile-header-container .mobile-header-content-container .mobile-header-content .mobile-header-title-container .mobile-header-title {
        font-size: 20px;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        overflow: hidden;
    }
}