<div id="#sidebarMenuContainer">
    <a class="sideNavHeader" href="">
      <div class="userImageContainer">
        <img class="userImg" alt="userimage"
        src="https://d2y2l77dht9e8d.cloudfront.net/web-assets/dist/5e52864d448cb14055687c44bf97afb5.svg">
      </div>
      <div class="userInfoContainer">
        <div class="userName">Login</div>
      </div>
    </a>
    <div class="contentContainer">
      <div class="itemWrapper">
        <a href="#" class="optionContainer">
          <div class="optionTitle" style="flex: 1;-webkit-box-flex: 1;
          font-size: 14px;text-transform: uppercase;letter-spacing: 1px;">home</div>
          <svg style="height: 14px;
          color: #4a4a4a;
          width: 14px;">
          <use xlink:href="#rightChevron">
            <svg id="rightChevron" viewBox="0 0 12 12">
              <path fill="currentColor" fill-rule="nonzero" d="M8.294 5.99l-3.63-3.637a.5.5 0 0 1 .709-.706l3.981 3.99a.5.5 0 0 1 0 .707l-4 4.01a.5.5 0 1 1-.708-.707L8.294 5.99z"></path>
            </svg>
          </use>
        </svg>
        </a>
        <span class="seperator"></span>
      </div>
      <div *ngFor="let category of categories" class="itemWrapper">
        <a href="#" class="optionContainer">
            <div class="optionTitle" style="flex: 1;-webkit-box-flex: 1;
            font-size: 14px;text-transform: uppercase;letter-spacing: 1px;">{{ category.name }}</div>
            <svg style="height: 14px;
            color: #4a4a4a;
            width: 14px;">
            <use xlink:href="#rightChevron">
              <svg id="rightChevron" viewBox="0 0 12 12">
                <path fill="currentColor" fill-rule="nonzero" d="M8.294 5.99l-3.63-3.637a.5.5 0 0 1 .709-.706l3.981 3.99a.5.5 0 0 1 0 .707l-4 4.01a.5.5 0 1 1-.708-.707L8.294 5.99z"></path>
              </svg>
            </use>
          </svg>
        </a>
        <span class="seperator"></span>
      </div>
      <div class="itemWrapper">
          <a href="#" class="optionContainer">
              <div class="optionTitle" style="flex: 1;-webkit-box-flex: 1;
              font-size: 14px;text-transform: uppercase;letter-spacing: 1px;">my orders</div>
              <svg style="height: 14px;
              color: #4a4a4a;
              width: 14px;">
              <use xlink:href="#rightChevron">
                <svg id="rightChevron" viewBox="0 0 12 12">
                  <path fill="currentColor" fill-rule="nonzero" d="M8.294 5.99l-3.63-3.637a.5.5 0 0 1 .709-.706l3.981 3.99a.5.5 0 0 1 0 .707l-4 4.01a.5.5 0 1 1-.708-.707L8.294 5.99z"></path>
                </svg>
              </use>
            </svg>
          </a>
          <span class="seperator"></span>
      </div>
    </div>
</div>