@media screen and (max-width:768px) {

    .mobile-header-container {
        height: 55px;
        display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2c4152;
    width: 100%;
    }

    .mobile-header-content-container {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 15px;
        border: 1px solid #d5a249;
    }

    .back-button-container {
        width: 25%;
        
        border: 1px solid white;
    }

    .title-container {
        width: 50%;
        margin-left: 94px;
        border: 1px solid #d5a249;
    }

    .cart-container {
        width: 25%;
        margin-left: 300px;
        border: 1px solid white;
    }

    .mobile-header-container .mobile-header-content-container .mobile-header-content {
        display: flex;
        -webkit-box-align: center;
        align-content: center;
    }

    .mobile-header-container .mobile-header-content-container .mobile-header-content .mobile-back-button {
        width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    color: white;
    position: relative;
    font-size: 20px;
    }

    .mobile-header-container .mobile-header-content-container .mobile-header-content .mobile-header-title-container{
        position: relative;
        height: 35px;
        width: 80%;
    display: flex;
        color: white;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    -webkit-box-align: center;
    max-width: 220px;
    }

    .mobile-header-container .mobile-header-content-container .mobile-header-content .mobile-header-title-container .mobile-header-title {
        font-size: 20px;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        overflow: hidden;
    }

    .mobile-header-container .mobile-header-content-container .mobile-header-content .mobile-header-cart-container{
        margin-left: 30px;
        position: relative;
        height: 35px;
        display: flex;
        color: white;
        float: right;
    /* align-items: center;
    justify-content: center;
    -webkit-box-align: center; */
    }

    .navbar-toggler{
        border: none;
            background: transparent;
            outline: none;
            color:white;
    }
}