/* You can add global styles to this file, and also import other style files */
html, body{
    font-display: consolas;
    height: 100%;
}

.form-control:focus, .form-control:active{
    outline: none !important;
    box-shadow:none !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}